@import "./../../static/default.less";

.fullscreen-div {
  width: 100%;
  height: 100%;
  /* additional styles to ensure it's full viewport height on mobile devices */
  position: fixed; /* or 'absolute' */
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #ffffff, #bcbfc0);
}

.fullscreen-div-scrollable {
  width: 100%;
  height: 100%;
  /* additional styles to ensure it's full viewport height on mobile devices */
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #ffffff, #bcbfc0);
}

.quiz-container {
  padding: 40px;
  margin-top: 320px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #eee;
  width: 100%;
  //display: grid;
  //place-items: center;
  //height: 100%;
  //display: flex;
  //top: 30%;
  //position: absolute;
  //width: 100%;
  //flex-direction: column;
  //align-items: center;
}

.your-quizzes-title {
  padding: 20px;
  margin: 0 10px 0 10px;
  font-size: 30px;
}

.quiz-container-quizzes {
  padding: 20px;
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.delete-quiz-button {
  padding: 0 9px 0 9px;
  margin: 0;
  position: relative;
}


.quiz-hr {
  width: 100%;
  color: #999;
  //height: 5px;
  //background: #ff8f3c;
  //font-size: 36px;
  //margin-top: 40px;
  //margin-bottom: 40px;
}

.quiz-card {
  margin-top: 200px;
  font-size: 20px;
}

.quiz-card .ant-card-head-wrapper {
  font-size: 20px;
}

.quiz-card-item {
  font-size: 20px;
}

.quiz-input-label {
  font-family: Lato, @font-family;
  //text-align: center;
  font-size: 20px;
  font-weight: normal;
  //color: #fff;
  margin-bottom: 20px;
}

.quiz-container-name-pronounce {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-input-container {
  display: flex;
  flex-direction: column;
}

.quiz-input {
  font-family: Lato, @font-family;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
  width: 300px;
}

.quiz-get-summary-button {
  font-size: 20px;
  height: 50px;
  width: 260px;
  font-family: Lato, @font-family;
  background: #ff8f3c;
  color: #eee;
}

.quiz-get-summary-button:hover {
  background: #007bff;
}

.quiz-question {
  font-family: Lato, @font-family;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #555;
  margin-bottom: 20px;
}

.quiz-answer {
  width: 100%;
  font-family: Lato, @font-family;
  //text-align: center;
  font-size: 20px;
  font-weight: normal;
  //color: #fff;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  //background-color: #009BDB;
  //border-radius: 4px;
  //border: 1px solid #eee;
}

.quiz-answer:hover {
  color: var(--antd-wave-shadow-color);
  //background-color: #38bef5;
  //border-radius: 4px;
}

.quiz-summary-screen {
  width: 100%;
  height: 100%;
  /* additional styles to ensure it's full viewport height on mobile devices */
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #009BDB, #005678);
}

.quiz-container-summary {
  margin-top: 20px;
  margin-bottom: 10px;
}

.quiz-summary-title {
  font-family: Lato, @font-family;
  font-size: 20px;
  font-weight: normal;
  //color: #fff;
  margin-bottom: 10px;
}

.quiz-summary-content {
  font-family: Lato, @font-family;
  font-size: 14px;
  font-weight: normal;
  //color: #fff;
  margin-bottom: 20px;
}

.quiz-list-item {
  width: 100%;
  font-family: Lato, @font-family;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  //color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #009BDB;
  border-radius: 4px;
  border: 1px solid #eee;
}

.free-form-question-input-label {
  font-family: Lato, @font-family;
  //text-align: center;
  font-size: 14px;
  font-weight: normal;
  //color: #fff;
  margin-bottom: 20px;
}

.free-form-question-input-container {
  //background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Fades from transparent to white */
  //background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.free-form-question-input-container-fade {
  height: 25px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Fades from transparent to white */
}

.free-form-question-input-container-white {
  background-color: white;
  padding: 0 22px 12px 22px;
}

.free-form-question-input {
  font-family: Lato, @font-family;
  //font-size: 20px;
  font-weight: normal;
  //margin-top: 6px;
  width: 100%;
  height: 50px;
  resize: none;
}

.free-form-question-button {
  //font-size: 20px;
  height: 50px;
  width: 100%;
  font-family: Lato, @font-family;
  background: #ff8f3c;
  color: #eee;
}

.free-form-chat-container {
  //display: flex;
  //margin-bottom: 100px;
}

.free-form-question-content {
  font-family: Lato, @font-family;
  padding: 20px;
  //margin-top: 320px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #eee;
  border-bottom-right-radius: 0px;
}

.free-form-answer-content {
  font-family: Lato, @font-family;
  padding: 20px;
  //margin-top: 320px;
  background-color: #fff;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border: 1px solid #eee;
}

.free-form-question-container {
  display: flex;
  justify-content: flex-end;
}

.free-form-answer-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.quizzes-hr-divider {
  border: none; /* Remove the default border */
  height: 1px; /* Make it thin */
  color: #666; /* Color it black */
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent); /* Gradient: from transparent to semi-visible to transparent */
  margin: 0 0 20px 0;
}

.free-form-hr-divider {
  border: none; /* Remove the default border */
  height: 1px; /* Make it thin */
  color: #666; /* Color it black */
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent); /* Gradient: from transparent to semi-visible to transparent */
  margin: 10px 0; /* Add some margin to avoid content touching the HR directly */
}

.copy-to-clipboard-button-container {
  //position: absolute;
  display: flex;
  justify-content: flex-end;
}

.copy-to-clipboard-button {
  padding: 0 9px 0 9px;
  margin: 0;
  position: relative;
}

//@keyframes spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}
//
//.icon-loading {
//  display: inline-block; /* or 'block' depending on your layout needs */
//  animation: spin 1s linear infinite;
//}
